/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ffa500;
  --ifm-color-primary-dark: #bc7a00;
  --ifm-color-primary-darker: #9c6500;
  --ifm-color-primary-darkest: #7b4f00;
  --ifm-color-primary-light: #ffc966;
  --ifm-color-primary-lighter: #ffd890;
  --ifm-color-primary-lightest: #ffe3ae;
  --ifm-code-font-size: 95%;

  --ifm-color-success: #75de99;
  --ifm-color-danger: #ea5353;
  --ifm-color-warning: #ffca45;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@media (min-width: 997px) {
  .docPage {
    display: flex;
  }
}

@media (max-width: 996px) {
  .docPage {
    display: inherit !important;
  }
}

.sidebar {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh !important;
}
